docker-server/server_dev/.idea
docker-server/server_dev/.env
docker-server/server_dev/db.sqlite3
docker-server/server_dev/env
docker-server/log
.idea
*.env

*.pyc
docker-server/server_dev/__pycache__/

server_dev/django.key
server_dev/.key
server_dev/django.crt
server_dev/.crt
